openapi: 3.0.1
info:
  title: IBC-GO - gRPC Gateway docs
  description: A REST interface for IBC state queries (ibc-go v8.x, as deployed on Osmosis v31). Generated from the osmosis
    chain repository's swagger.
  version: ibc-go v8
servers:
- url: https://lcd.osmosis.zone
  description: Osmosis mainnet LCD / gRPC-gateway
- url: https://lcd-test.osmosis.zone
  description: Osmosis testnet LCD / gRPC-gateway
paths:
  /ibc/core/client/v1/client_states:
    get:
      summary: ClientStates queries all the IBC light clients of a chain.
      operationId: ClientStates
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  client_states:
                    type: array
                    items:
                      type: object
                      properties:
                        client_id:
                          type: string
                          title: client identifier
                        client_state:
                          title: client state
                          type: object
                          properties:
                            type_url:
                              type: string
                              description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                                \ buffer message. This string must contain at least\none \"/\" character. The last segment\
                                \ of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                                \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                                \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                                \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                                \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no\
                                \ scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                                \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup\
                                \ results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup.\
                                \ Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned\
                                \ type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently\
                                \ available in the official\nprotobuf release, and it is not used for type URLs beginning\
                                \ with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations\
                                \ and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme)\
                                \ might be\nused with implementation specific semantics."
                            value:
                              type: string
                              format: byte
                              description: Must be a valid serialized protocol buffer of the above specified type.
                          description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                            \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                            \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\
                            \nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                            \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                            \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                            \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                            \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a\
                            \ message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if\
                            \ any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message\
                            \ in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n \
                            \      ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err\
                            \ != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default\
                            \ use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the\
                            \ fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\"\
                            \ will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses\
                            \ the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field\
                            \ `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person\
                            \ {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                            : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                            : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                            \ that representation will be embedded adding a field\n`value` which holds the custom JSON in\
                            \ addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n\
                            \      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                            \n    }"
                      description: "IdentifiedClientState defines a client state with an additional client\r\nidentifier field."
                    description: list of stored ClientStates of the chain.
                  pagination:
                    title: pagination response
                    type: object
                    properties:
                      next_key:
                        type: string
                        format: byte
                        description: "next_key is the key to be passed to PageRequest.key to\r\nquery the next page most efficiently.\
                          \ It will be empty if\r\nthere are no more results."
                      total:
                        type: string
                        format: uint64
                        title: "total is total number of results available if PageRequest.count_total\r\nwas set, its value\
                          \ is undefined otherwise"
                description: "QueryClientStatesResponse is the response type for the Query/ClientStates RPC\r\nmethod."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: pagination.key
        description: "key is a value returned in PageResponse.next_key to begin\r\nquerying the next page most efficiently.\
          \ Only one of offset or key\r\nshould be set."
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: "offset is a numeric offset that can be used when key is unavailable.\r\nIt is less efficient than using\
          \ key. Only one of offset or key should\r\nbe set."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: "limit is the total number of results to be returned in the result page.\r\nIf left empty it will default\
          \ to a value to be set by each app."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: "count_total is set to true  to indicate that the result set should include\r\na count of the total number\
          \ of items available for pagination in UIs.\r\ncount_total is only respected when offset is used. It is ignored\
          \ when key\r\nis set."
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: "reverse is set to true if results are to be returned in the descending order.\r\n\r\nSince: cosmos-sdk\
          \ 0.43."
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Client (core)
  /ibc/core/client/v1/client_states/{client_id}:
    get:
      summary: ClientState queries an IBC light client.
      operationId: ClientState
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  client_state:
                    type: object
                    properties:
                      type_url:
                        type: string
                        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer\
                          \ message. This string must contain at least\none \"/\" character. The last segment of the URL's\
                          \ path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                          \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                          \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                          \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                          \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                          \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                          \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                          \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                          \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to\
                          \ manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\n\
                          protobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May\
                          \ 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\n\
                          Schemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific\
                          \ semantics."
                      value:
                        type: string
                        format: byte
                        description: Must be a valid serialized protocol buffer of the above specified type.
                    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes\
                      \ the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values\
                      \ in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack\
                      \ and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n\
                      \    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n\
                      \    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo\
                      \ = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                      \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                      \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                      \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                      \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n\
                      \     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided\
                      \ by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and\
                      \ the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for\
                      \ example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                      \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                      additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message\
                      \ Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                      : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                      \ that representation will be embedded adding a field\n`value` which holds the custom JSON in addition\
                      \ to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
                    title: client state associated with the request identifier
                  proof:
                    type: string
                    format: byte
                    title: merkle proof of existence
                  proof_height:
                    title: height at which the proof was retrieved
                    type: object
                    properties:
                      revision_number:
                        type: string
                        format: uint64
                        title: the revision that the client is currently on
                      revision_height:
                        type: string
                        format: uint64
                        title: the height within the given revision
                description: "QueryClientStateResponse is the response type for the Query/ClientState RPC\r\nmethod. Besides\
                  \ the client state, it includes a proof and the height from\r\nwhich the proof was retrieved."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: client_id
        description: client state unique identifier
        in: path
        required: true
        schema:
          type: string
      tags:
      - Client (core)
  /ibc/core/client/v1/client_status/{client_id}:
    get:
      summary: Status queries the status of an IBC client.
      operationId: ClientStatus
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  status:
                    type: string
                description: "QueryClientStatusResponse is the response type for the Query/ClientStatus RPC\r\nmethod. It\
                  \ returns the current status of the IBC client."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: client_id
        description: client unique identifier
        in: path
        required: true
        schema:
          type: string
      tags:
      - Client (core)
  /ibc/core/client/v1/consensus_states/{client_id}:
    get:
      summary: "ConsensusStates queries all the consensus state associated with a given\r\nclient."
      operationId: ConsensusStates
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  consensus_states:
                    type: array
                    items:
                      type: object
                      properties:
                        height:
                          title: consensus state height
                          type: object
                          properties:
                            revision_number:
                              type: string
                              format: uint64
                              title: the revision that the client is currently on
                            revision_height:
                              type: string
                              format: uint64
                              title: the height within the given revision
                        consensus_state:
                          type: object
                          properties:
                            type_url:
                              type: string
                              description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                                \ buffer message. This string must contain at least\none \"/\" character. The last segment\
                                \ of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                                \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                                \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                                \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                                \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no\
                                \ scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                                \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup\
                                \ results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup.\
                                \ Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned\
                                \ type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently\
                                \ available in the official\nprotobuf release, and it is not used for type URLs beginning\
                                \ with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations\
                                \ and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme)\
                                \ might be\nused with implementation specific semantics."
                            value:
                              type: string
                              format: byte
                              description: Must be a valid serialized protocol buffer of the above specified type.
                          description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                            \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                            \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\
                            \nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                            \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                            \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                            \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                            \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a\
                            \ message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if\
                            \ any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message\
                            \ in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n \
                            \      ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err\
                            \ != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default\
                            \ use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the\
                            \ fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\"\
                            \ will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses\
                            \ the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field\
                            \ `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person\
                            \ {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                            : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                            : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                            \ that representation will be embedded adding a field\n`value` which holds the custom JSON in\
                            \ addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n\
                            \      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                            \n    }"
                          title: consensus state
                      description: "ConsensusStateWithHeight defines a consensus state with an additional height\r\nfield."
                    title: consensus states associated with the identifier
                  pagination:
                    title: pagination response
                    type: object
                    properties:
                      next_key:
                        type: string
                        format: byte
                        description: "next_key is the key to be passed to PageRequest.key to\r\nquery the next page most efficiently.\
                          \ It will be empty if\r\nthere are no more results."
                      total:
                        type: string
                        format: uint64
                        title: "total is total number of results available if PageRequest.count_total\r\nwas set, its value\
                          \ is undefined otherwise"
                title: "QueryConsensusStatesResponse is the response type for the\r\nQuery/ConsensusStates RPC method"
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: client_id
        description: client identifier
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: "key is a value returned in PageResponse.next_key to begin\r\nquerying the next page most efficiently.\
          \ Only one of offset or key\r\nshould be set."
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: "offset is a numeric offset that can be used when key is unavailable.\r\nIt is less efficient than using\
          \ key. Only one of offset or key should\r\nbe set."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: "limit is the total number of results to be returned in the result page.\r\nIf left empty it will default\
          \ to a value to be set by each app."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: "count_total is set to true  to indicate that the result set should include\r\na count of the total number\
          \ of items available for pagination in UIs.\r\ncount_total is only respected when offset is used. It is ignored\
          \ when key\r\nis set."
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: "reverse is set to true if results are to be returned in the descending order.\r\n\r\nSince: cosmos-sdk\
          \ 0.43."
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Client (core)
  /ibc/core/client/v1/consensus_states/{client_id}/heights:
    get:
      summary: ConsensusStateHeights queries the height of every consensus states associated with a given client.
      operationId: ConsensusStateHeights
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  consensus_state_heights:
                    type: array
                    items:
                      type: object
                      properties:
                        revision_number:
                          type: string
                          format: uint64
                          title: the revision that the client is currently on
                        revision_height:
                          type: string
                          format: uint64
                          title: the height within the given revision
                      title: "Height is a monotonically increasing data type\r\nthat can be compared against another Height\
                        \ for the purposes of updating and\r\nfreezing clients\r\n\r\nNormally the RevisionHeight is incremented\
                        \ at each height while keeping\r\nRevisionNumber the same. However some consensus algorithms may choose\
                        \ to\r\nreset the height in certain conditions e.g. hard forks, state-machine\r\nbreaking changes\
                        \ In these cases, the RevisionNumber is incremented so that\r\nheight continues to be monitonically\
                        \ increasing even as the RevisionHeight\r\ngets reset"
                    title: consensus state heights
                  pagination:
                    title: pagination response
                    type: object
                    properties:
                      next_key:
                        type: string
                        format: byte
                        description: "next_key is the key to be passed to PageRequest.key to\r\nquery the next page most efficiently.\
                          \ It will be empty if\r\nthere are no more results."
                      total:
                        type: string
                        format: uint64
                        title: "total is total number of results available if PageRequest.count_total\r\nwas set, its value\
                          \ is undefined otherwise"
                title: "QueryConsensusStateHeightsResponse is the response type for the\r\nQuery/ConsensusStateHeights RPC\
                  \ method"
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: client_id
        description: client identifier
        in: path
        required: true
        schema:
          type: string
      - name: pagination.key
        description: "key is a value returned in PageResponse.next_key to begin\r\nquerying the next page most efficiently.\
          \ Only one of offset or key\r\nshould be set."
        in: query
        required: false
        schema:
          type: string
          format: byte
      - name: pagination.offset
        description: "offset is a numeric offset that can be used when key is unavailable.\r\nIt is less efficient than using\
          \ key. Only one of offset or key should\r\nbe set."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.limit
        description: "limit is the total number of results to be returned in the result page.\r\nIf left empty it will default\
          \ to a value to be set by each app."
        in: query
        required: false
        schema:
          type: string
          format: uint64
      - name: pagination.count_total
        description: "count_total is set to true  to indicate that the result set should include\r\na count of the total number\
          \ of items available for pagination in UIs.\r\ncount_total is only respected when offset is used. It is ignored\
          \ when key\r\nis set."
        in: query
        required: false
        schema:
          type: boolean
      - name: pagination.reverse
        description: "reverse is set to true if results are to be returned in the descending order.\r\n\r\nSince: cosmos-sdk\
          \ 0.43."
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Client (core)
  /ibc/core/client/v1/consensus_states/{client_id}/revision/{revision_number}/height/{revision_height}:
    get:
      summary: "ConsensusState queries a consensus state associated with a client state at\r\na given height."
      operationId: ConsensusState
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  consensus_state:
                    type: object
                    properties:
                      type_url:
                        type: string
                        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer\
                          \ message. This string must contain at least\none \"/\" character. The last segment of the URL's\
                          \ path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                          \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                          \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                          \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                          \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                          \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                          \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                          \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                          \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to\
                          \ manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\n\
                          protobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May\
                          \ 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\n\
                          Schemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific\
                          \ semantics."
                      value:
                        type: string
                        format: byte
                        description: Must be a valid serialized protocol buffer of the above specified type.
                    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes\
                      \ the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values\
                      \ in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack\
                      \ and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n\
                      \    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n\
                      \    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo\
                      \ = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                      \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                      \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                      \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                      \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n\
                      \     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided\
                      \ by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and\
                      \ the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for\
                      \ example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                      \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                      additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message\
                      \ Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                      : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                      \ that representation will be embedded adding a field\n`value` which holds the custom JSON in addition\
                      \ to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
                    title: consensus state associated with the client identifier at the given height
                  proof:
                    type: string
                    format: byte
                    title: merkle proof of existence
                  proof_height:
                    type: object
                    properties:
                      revision_number:
                        type: string
                        format: uint64
                        title: the revision that the client is currently on
                      revision_height:
                        type: string
                        format: uint64
                        title: the height within the given revision
                    title: "Height is a monotonically increasing data type\r\nthat can be compared against another Height\
                      \ for the purposes of updating and\r\nfreezing clients\r\n\r\nNormally the RevisionHeight is incremented\
                      \ at each height while keeping\r\nRevisionNumber the same. However some consensus algorithms may choose\
                      \ to\r\nreset the height in certain conditions e.g. hard forks, state-machine\r\nbreaking changes In\
                      \ these cases, the RevisionNumber is incremented so that\r\nheight continues to be monitonically increasing\
                      \ even as the RevisionHeight\r\ngets reset"
                title: "QueryConsensusStateResponse is the response type for the Query/ConsensusState\r\nRPC method"
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      parameters:
      - name: client_id
        description: client identifier
        in: path
        required: true
        schema:
          type: string
      - name: revision_number
        description: consensus state revision number
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: revision_height
        description: consensus state revision height
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: latest_height
        description: "latest_height overrides the height field and queries the latest stored\r\nConsensusState."
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Client (core)
  /ibc/core/client/v1/params:
    get:
      summary: ClientParams queries all parameters of the ibc client submodule.
      operationId: ClientParams
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  params:
                    description: params defines the parameters of the module.
                    type: object
                    properties:
                      allowed_clients:
                        type: array
                        items:
                          type: string
                        description: "allowed_clients defines the list of allowed client state types which can be created\r\
                          \nand interacted with. If a client type is removed from the allowed clients list, usage\r\nof this\
                          \ client will be disabled until it is added again to the list."
                description: "QueryClientParamsResponse is the response type for the Query/ClientParams RPC\r\nmethod."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      tags:
      - Client (core)
  /ibc/core/client/v1/upgraded_client_states:
    get:
      summary: UpgradedClientState queries an Upgraded IBC light client.
      operationId: UpgradedClientState
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  upgraded_client_state:
                    type: object
                    properties:
                      type_url:
                        type: string
                        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer\
                          \ message. This string must contain at least\none \"/\" character. The last segment of the URL's\
                          \ path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                          \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                          \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                          \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                          \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                          \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                          \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                          \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                          \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to\
                          \ manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\n\
                          protobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May\
                          \ 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\n\
                          Schemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific\
                          \ semantics."
                      value:
                        type: string
                        format: byte
                        description: Must be a valid serialized protocol buffer of the above specified type.
                    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes\
                      \ the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values\
                      \ in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack\
                      \ and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n\
                      \    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n\
                      \    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo\
                      \ = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                      \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                      \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                      \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                      \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n\
                      \     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided\
                      \ by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and\
                      \ the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for\
                      \ example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                      \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                      additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message\
                      \ Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                      : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                      \ that representation will be embedded adding a field\n`value` which holds the custom JSON in addition\
                      \ to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
                    title: client state associated with the request identifier
                description: "QueryUpgradedClientStateResponse is the response type for the\r\nQuery/UpgradedClientState RPC\
                  \ method."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                            \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                            \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names\
                            \ to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the\
                            \ official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\
                            \ As of May 2023, there are no widely used type server\nimplementations and no plans to implement\
                            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation\
                            \ specific semantics."
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that\
                        \ describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack\
                        \ Any values in the form\nof utility functions or additional generated methods of the Any type.\n\n\
                        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n\
                        \    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message\
                        \ in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
                        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                        \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                        \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                        \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo :=\
                        \ &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods\
                        \ provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type\
                        \ URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type\
                        \ URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                        \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                        additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n  \
                        \  message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n \
                        \     \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
                        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom\
                        \ JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the\
                        \ custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\
                        \n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\
                        \n    }"
      tags:
      - Client (core)
  /ibc/core/client/v1/upgraded_consensus_states:
    get:
      summary: UpgradedConsensusState queries an Upgraded IBC consensus state.
      operationId: IBCUpgradedConsensusState
      responses:
        '200':
          description: A successful response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  upgraded_consensus_state:
                    type: object
                    properties:
                      type_url:
                        type: string
                        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer\
                          \ message. This string must contain at least\none \"/\" character. The last segment of the URL's\
                          \ path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                          \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                          \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                          \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                          \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                          \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                          \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
                          \ based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore,\
                          \ binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to\
                          \ manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\n\
                          protobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May\
                          \ 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\n\
                          Schemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific\
                          \ semantics."
                      value:
                        type: string
                        format: byte
                        description: Must be a valid serialized protocol buffer of the above specified type.
                    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes\
                      \ the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values\
                      \ in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack\
                      \ and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n\
                      \    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n\
                      \    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo\
                      \ = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
                      \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message\
                      \ in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n\
                      \      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n\
                      \     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n\
                      \     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided\
                      \ by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and\
                      \ the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for\
                      \ example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation\
                      \ of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\n\
                      additional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message\
                      \ Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\"\
                      : <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation,\
                      \ that representation will be embedded adding a field\n`value` which holds the custom JSON in addition\
                      \ to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\"\
                      : \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
                    title: Consensus state associated with the request identifier
                description: "QueryUpgradedConsensusStateResponse is the response type for the\r\nQuery/UpgradedConsensusState\
                  \ RPC method."
        default:
          description: An unexpected error response.
          content:
            '*/*':
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol\
                            \ buffer message. This string must contain at least\none \"/\" character. The last segment of\
                            \ the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
                            \ The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice,\
                            \ teams usually precompile into the binary all types that they\nexpect it to use in the context\
                            \ of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally\
                            \ set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme\
                            \ is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n\
                            \  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results\
[...]
